[submodule "repos/configure"]
	path = repos/configure
	url = git@github.com:skymountain/Configure.git
[submodule "emacs.d/site-lisp"]
	path = emacs.d/site-lisp
	url = git@github.com:skymountain/emacs-site-lisp.git
